<div class='auto center span10'>
  Welcome to DoubleOweb!  An effort by Dan Bickford and Tim Nelson to advance the knowledge of the ruby community and to show the world the ruby and rails rock.  
  This project is a working progress, so please be patient as we develop the goodness.

</div>
